
{% extends "base.html" %}
{% block content %}
    {% if exercise %}
        <div class="card" style="width: 18rem;">
            <div class="card-header">
                {{ exercise.name }}
            </div>

            <ul class="list-group list-group-flush">

                <li class="list-group-item"> Primary Muscle: {{ exercise.primary_muscle }}</li>
                <li class="list-group-item"> Secondary Muscle: {{ exercise.secondary_muscle }}</li>
                <li class="list-group-item"> Comment: {{ exercise.comment }}</li>
                <li class="list-group-item"><a href="{{ exercise.tutorial_link }}">Tutorial Link</a></li>
            </ul>

        </div>
        <div class="row p-3">
            <span class=" btn badge badge-info">Publish Date: {{ exercise.pub_date }}</span>
        </div>
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <a class="btn btn-secondary active" href="{% url 'exercise_update' exercise.id %}">edit</a>
            <a class="btn btn-secondary active" href="{% url 'exercise_delete' exercise.id %}">delete</a>
        </div>

    {% else %}
        <p>No Plans are available.</p>
    {% endif %}

{% endblock %}
