

{% extends "base.html" %}
{% block content %}
    {% if workout %}
        <div class="card col col-md-5 p-0">
            <div class="card-header">
                {{ workout.name }}
            </div>
            <ul class="list-group list-group-flush ">
                {% for exercise in exercises %}
                    <li class="list-group-item    ">
                        <div class="row ">
                            <a class="col-md-7 col-6 align-self-center"
                               href="{% url 'exercise_detail' exercise.id %}">{{ exercise.name }}</a>
                            <div class="col-2   align-self-center">
                                <span class="last-record badge badge-pill badge-success" data-exercise="{{ exercise.id }}">0</span>
                            </div>
                            <div class="input-group col-4 col-md-3  pl-1">

                                <input type="text" class="form-control" placeholder="#"
                                       aria-label="Recipient's username"
                                       aria-describedby="button-addon-{{ exercise.id }}"
                                       data-exercise="{{ exercise.id }}">
                                <div class="input-group-append ">
                                    <button class="btn btn-outline-secondary" type="button"
                                            id="button-addon-{{ exercise.id }}" data-exercise="{{ exercise.id }}">
                                        <i class=" fa fas fa-check"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </li>
                {% endfor %}

            </ul>
        </div>
        <div class="row p-3">
            <span class=" btn badge badge-info   ">Publish Date: {{ workout.pub_date }}</span>
            <span class=" btn badge badge-primary ml-1">Trial: {{ workout.number }}</span>
        </div>
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <a class="btn btn-secondary active" href="{% url 'workout_update' workout.id %}">edit</a>
            <a class="btn btn-secondary active" href="{% url 'workout_delete' workout.id %}">delete</a>
        </div>

    {% else %}
        <p>No Plans are available.</p>
    {% endif %}
    <script>
        $.ajaxSetup({
            headers: {"X-CSRFToken": '{{csrf_token}}'},
        });

        let send_record = function (record_data) {
            console.log(record_data);
            $.post('{% url 'record_create' %}', record_data, function () {
            });
        };
    </script>
    <script>
        $(document).ready(
            function () {
                $("button").click(function () {
                    const exercise = $(this).attr('data-exercise');
                    const record = $("input[data-exercise=" + exercise + "]").val();
                    if (record === '')
                        return;
                    var record_data = {date: '', exercise: exercise, record: record};
                    send_record(record_data);
                });

                $(".last-record").each(function () {
                    console.log("hi");
                    const exercise = $(this).attr("data-exercise");
                    $(this).load("{% url "get_latest" %}", {exercise: exercise}, function (response) {
                        $(this).text(response);
                    });
                });

            });
    </script>
{% endblock %}
