

{% extends "base.html" %}
{% block content %}
    {% if workout %}
        <div class="card" style="width: 18rem;">
            <div class="card-header">
                {{ workout.name }}
            </div>
            <ul class="list-group list-group-flush">
                {% for exercise in exercises  %}
                    <li class="list-group-item"><a href="{% url 'exercise_detail' exercise.id %}">{{ exercise.name }}</a></li>
                {% endfor %}

            </ul>
        </div>
        <div class="row p-3">
            <span class=" btn badge badge-info   ">Publish Date: {{ workout.pub_date }}</span>
            <span class=" btn badge badge-primary ml-1">Trial: {{ workout.number }}</span>
        </div>
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <a class="btn btn-secondary active" href="{% url 'workout_update' workout.id %}">edit</a>
            <a class="btn btn-secondary active" href="{% url 'workout_delete' workout.id %}">delete</a>
        </div>

    {% else %}
        <p>No Plans are available.</p>
    {% endif %}

{% endblock %}
