{% extends "base.html" %}
{% block content %}
    {% if plan %}
        <div class="card" style="width: 18rem;">
            <div class="card-header">
                {{ plan.name }}
            </div>
            <ul class="list-group list-group-flush">
                {% for workout in workouts %}
                    <li class="list-group-item"><a href="{% url 'workout_detail' workout.id %}">{{ workout.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="row p-3">
            <span class=" btn badge badge-info">Publish Date: {{ plan.pub_date }}</span>
        </div>
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <a class="btn btn-secondary active" href="{% url 'plan_update' plan.id %}">edit</a>
            <a class="btn btn-secondary active" href="{% url 'plan_delete' plan.id %}">delete</a>
        </div>

    {% else %}
        <p>No Plans are available.</p>
    {% endif %}

{% endblock %}
