
{% extends "base.html" %}
{% block content %}
    {% if muscle %}
        <div class="card" style="width: 18rem;">
            <div class="card-header">
                {{ muscle.name }}
            </div>
           
        </div>
        <div class="row p-3">
            <span class=" btn badge badge-info">Publish Date: {{ muscle.pub_date }}</span>
        </div>
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <a class="btn btn-secondary active" href="{% url 'muscle_update' muscle.id %}">edit</a>
            <a class="btn btn-secondary active" href="{% url 'muscle_delete' muscle.id %}">delete</a>
        </div>

    {% else %}
        <p>No Plans are available.</p>
    {% endif %}

{% endblock %}
