{% extends "base.html" %}
{% block content %}
    <meta charset="UTF-8">
    <div class="container-sm">
        <div class="row p-2">
            <a type="button" class="btn btn-outline-primary" href="{% url 'muscle_create' %}">Create New</a>
        </div>
    </div>
    {% if muscles %}
        <ul>
            <div class="row">
                {% for m in muscles %}
                    <div class="card m-2 col-3" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">{{ m.name }}</h5>
                            <p class="card-text">Publish Date: {{ m.pub_date }}</p>
                            <a href="{% url 'muscle_detail' m.id %}" class="card-link">Detail</a>
                        </div>
                    </div>

                {% endfor %}
            </div>
        </ul>

    {% else %}
        <p>No Muscle are available.</p>
    {% endif %}
{% endblock %}
